/* FUNDO MF */

.fundo-1 {
  background: url(../images/bgcard/Leon_Mindscape.png) no-repeat center;
}

.fundo-2 {
  background: url(../images/bgcard/Maxie_Mindscape.webp) no-repeat center;
}

.fundo-3 {
  background: url(../images/bgcard/Archie_Mindscape.webp) no-repeat center;
}

.fundo-4 {
  background: url(../images/bgcard/Lillie_Anniversary_2021_Mindscape.png)
    no-repeat center;
}

.fundo-5 {
  background: url(../images/bgcard/N_Anniversary_2021_Mindscape.png) no-repeat
    center;
}

.fundo-6 {
  background: url(../images/bgcard/Steven_Anniversary_2021_Mindscape.png)
    no-repeat center;
}

.fundo-7 {
  background: url(../images/bgcard/Lusamine_Mindscape_2.png) no-repeat center;
}

.fundo-8 {
  background: url(../images/bgcard/Cynthia_Sygna_Renegade_Mindscape.png)
    no-repeat center;
}

.fundo-9 {
  background: url(../images/bgcard/Serena_Sygna_Mindscape.png) no-repeat center;
}

.fundo-10 {
  background: url(../images/bgcard/Ethan_Sygna_Mindscape.png) no-repeat center;
}

.fundo-11 {
  background: url(../images/bgcard/Lyra_Sygna_Mindscape.png) no-repeat center;
}

.fundo-12 {
  background: url(../images/bgcard/Kris_Sygna_Mindscape.png) no-repeat center;
}

.fundo-13 {
  background: url(../images/bgcard/Satoshi_mindscape.png) no-repeat center;
}

.fundo-14 {
  background: url(../images/bgcard/shirona_mindscape.png) no-repeat center;
}

.fundo-15 {
  background: url(../images/bgcard/SSRed_mindscape.png) no-repeat center;
}

.fundo-16 {
  background: url(../images/bgcard/Serena_Champion_Mindscape.png) no-repeat
    center;
}

.fundo-17 {
  background: url(../images/bgcard/Calem_Champion_Mindscape.png) no-repeat
    center;
}

.fundo-18 {
  background: url(../images/bgcard/Marnie_Champion_Mindscape.png) no-repeat
    center;
}

.fundo-19 {
  background: url(../images/bgcard/Hop_Champion_Mindscape.png) no-repeat center;
}

.fundo-20 {
  background: url(../images/bgcard/Bede_Champion_Mindscape.png) no-repeat center;
}

.fundo-21 {
  background: url(../images/bgcard/seki_mindscape.png) no-repeat center;
}

.fundo-22 {
  background: url(../images/bgcard/kai_mindscape.png) no-repeat center;
}

.fundo-23 {
  background: url(../images/bgcard/Red_Champion_Mindscape.png) no-repeat center;
}

.fundo-24 {
  background: url(../images/bgcard/Leaf_Champion_Mindscape.png) no-repeat center;
}

.fundo-25 {
  background: url(../images/bgcard/Blue_Champion_Mindscape.png) no-repeat center;
}

.fundo-26 {
  background: url(../images/bgcard/Nate_Champion_Mindscape.png) no-repeat center;
}

.fundo-27 {
  background: url(../images/bgcard/Rosa_Champion_Mindscape.png) no-repeat center;
}

.fundo-28 {
  background: url(../images/bgcard/gladion_mindscape.png) no-repeat center;
}

.fundo-29 {
  background: url(../images/bgcard/geeta_mindscape.png) no-repeat center;
}

.fundo-30 {
  background: url(../images/bgcard/Silver_Champion_Mindscape.png) no-repeat
    center;
}

.fundo-31 {
  background: url(../images/bgcard/Cheren_Champion_Mindscape.png) no-repeat
    center;
}

.fundo-32 {
  background: url(../images/bgcard/Bianca_Champion_Mindscape.png) no-repeat
    center;
}

.fundo-33 {
  background: url(../images/bgcard/nemoma_mindscape00.png) no-repeat center;
}

.fundo-34 {
  background: url(../images/bgcard/LEAR_mindscape00.png) no-repeat center;
}

/* FUNDO ASF */

.fundo-a01 {
  background: url(../images/bgcard/ARCshirona_mindscape.png) no-repeat center;
}

.fundo-a02 {
  background: url(../images/bgcard/daigo_mindscape.png) no-repeat center;
}

.fundo-a03 {
  background: url(../images/bgcard/wataru_mindscape.png) no-repeat center;
}
